<section id="main-content" style="width:90%;margin:auto;" ng-show="Contact">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            <div ng-controller="ProfileMenuCtrl">
                <div ng-include="'/app/partials/views/profile-menu.html'" ng-model="Contact"></div>
            </div>
            <aside class="profile-info col-lg-9">
                <section class="panel">
                    <div class="bio-graph-heading" style="padding: 10px 50px;">
                        Profil bilgilerinizi düzenleyebilirsiniz.
                    </div>
                    <div class="panel-body bio-graph-info">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Kayıt Tipi</label>
                                <div class="col-lg-6 text-left">
                                    <input name="sample-radio" id="rd_Company" value="0" type="radio" checked disabled /> Firma Çalışanı
                                    <input name="sample-radio" id="rd_Student" value="1" type="radio" style="margin-left:20px;" disabled /> Öğrenci
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">İsim</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="f-name" name="FirstName" placeholder=" " ng-model="Contact.FirstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Soyisim</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="l-name" name="LastName" placeholder=" " ng-model="Contact.LastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Doğum Tarihi</label>
                                <div class="col-lg-6">
                                    <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" ng-model="Contact.BirthDateStr" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Cinsiyet</label>
                                <div class="col-lg-6">
                                    <select class="form-control m-bot15" ng-model="Contact.Gender"
                                            ng-options="gender as gender.Value for gender in GenderCodes"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Cep Telefonu</label>
                                <div class="col-lg-6">
                                    <input type="text" inputtype="phonenumber" class="form-control" id="mobile" placeholder=" " ng-model="Contact.MobilePhone">
                                </div>
                            </div>
                            <div class="form-group" ng-hide="recordType==0">
                                <label class="col-lg-2 control-label">Üniversite</label>
                                <div class="col-lg-6">
                                    <select class="form-control m-bot15" ng-model="Contact.University"
                                            ng-options="university as university.Name for university in Universities"></select>
                                </div>
                            </div>
                            <div class="form-group" id="divWorkPhone" ng-hide="recordType==1">
                                <label class="col-lg-2 control-label">İş Telefonu</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="businessphone" placeholder=" " ng-model="Contact.WorkPhone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">E-Posta</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="email" placeholder=" " readonly ng-model="Contact.EmailAddress">
                                </div>
                            </div>
                            <div class="form-group" id="divTaxNumber" ng-hide="recordType==1">
                                <label class="col-lg-2 control-label">Firma Vergi Numarası</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="taxnumber" placeholder=" " readonly ng-model="Contact.TaxNumber">
                                </div>
                            </div>
                            <div class="form-group" id="divCompany" ng-hide="recordType==1">
                                <label class="col-lg-2 control-label">Firma Adı</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="firm" placeholder=" " readonly ng-model="Contact.CompanyName">
                                </div>
                            </div>
                            <div class="form-group" id="divPosition" ng-hide="recordType==1">
                                <label class="col-lg-2 control-label">Firmadaki Pozisyonunuz</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="firmposition" placeholder=" " ng-model="Contact.CompanyPosition">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Şehir</label>
                                <div class="col-lg-6">
                                    <select class="form-control m-bot15" ng-model="Contact.City"
                                            ng-options="city as city.Name for city in Cities"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Eğitim Durumunuz</label>
                                <div class="col-lg-6">
                                    <select class="form-control m-bot15" ng-model="Contact.EducationLevel"
                                            ng-options="level as level.Value for level in EducationLevels"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="button" class="btn btn-success" ng-disabled="disableSave" data-ng-click="updateContact()">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"> Şifre Değiştir</div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Mevcut Şifre</label>
                                    <div class="col-lg-6">
                                        <input type="password" ng-model="oldPassword" class="form-control" placeholder=" ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Yeni Şifre</label>
                                    <div class="col-lg-6">
                                        <input type="password" ng-model="newPassword" class="form-control" placeholder=" ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Yeni Şifre Tekrar</label>
                                    <div class="col-lg-6">
                                        <input type="password" ng-model="reNewPassword" class="form-control" placeholder=" ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="button" class="btn btn-info" data-ng-disabled="disableSave" data-ng-click="changePassword()">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
        <!-- page end-->
    </section>
</section>