<section id="main-content" style="width:90%;margin:auto;">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <div class="bio-graph-heading" style="padding: 10px 50px;">
                Yeni üyelik başvurusu
            </div>
            <div class="panel-body bio-graph-info">
                <form class="form-horizontal" role="form" name="myForm">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Kayıt Tipi</label>
                        <div class="col-lg-6 text-left">
                            <input name="sample-radio" value="0" type="radio" checked ng-model="recordType" /> Firma Çalışanı
                            <input name="sample-radio" value="1" type="radio" style="margin-left:20px;" ng-model="recordType" /> Öğrenci
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">İsim</label>
                        <div class="col-lg-6">
                            <input type="text" name="firstname" required class="form-control" placeholder="İsim" ng-model="Contact.FirstName">
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.firstname.$error.required">
                                *
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Soyisim</label>
                        <div class="col-lg-6">
                            <input type="text" name="lastname" required class="form-control" placeholder="Soyisim" ng-model="Contact.LastName">
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.lastname.$error.required">
                                *
                            </span>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-lg-2 control-label">Doğum Tarihi</label>
                        <div class="col-lg-6">
                            <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" placeholder="Doğum Tarihi" ng-model="Contact.BirthDateStr" />
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Cinsiyet</label>
                        <div class="col-lg-6">
                            <select class="form-control m-bot15" name="gender" required ng-model="Contact.Gender"
                                    ng-options="gender as gender.Value for gender in GenderCodes"></select>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.gender.$error.required">
                                *
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Cep Telefonu</label>
                        <div class="col-lg-6">
                            <input type="text" inputtype="phonenumber" required name="phonenumber" class="form-control" placeholder="Cep Telefonu" ng-model="Contact.MobilePhone">
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.phonenumber.$error.required">
                                *
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="recordType==0">
                        <label class="col-lg-2 control-label">Üniversite</label>
                        <div class="col-lg-6">
                            <select class="form-control m-bot15" ng-model="Contact.University"
                                    ng-options="university as university.Name for university in Universities"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="recordType==0">
                        <label class="col-lg-2 control-label">Öğrenci Belgesi</label>
                        <div class="col-lg-6">
                            <div class="input-group m-bot15">
                                <input type="file" accept="image/*" class="form-control" style="display:none; width:0px;height:0px;" onchange="angular.element(this).scope().ReadFile(this)">
                                <input type="text" class="form-control" placeholder="Öğrenci belgesi yükleyiniz." readonly ng-model="uploadFileText">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning" title="Dosya Seç" data-ng-click="SelectFile()"><i class="fa fa-file"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="recordType==1">
                        <label class="col-lg-2 control-label">İş Telefonu</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" placeholder="İş Telefonu" ng-model="Contact.WorkPhone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">E-Posta</label>
                        <div class="col-lg-6">
                            <input type="email" name="emailaddress" required class="form-control" placeholder="E-Posta" ng-model="Contact.EmailAddress">
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.emailaddress.$error.required">
                                *
                            </span>
                            <span class="error" ng-show="myForm.emailaddress.$error.email">
                                Email adresi geçersiz
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="recordType==1">
                        <label class="col-lg-2 control-label">Firma Vergi Numarası</label>
                        <div class="col-lg-6">
                            <div class="input-group m-bot15">
                                <input type="text" class="form-control" placeholder="Vergi Numarası" ng-model="Contact.TaxNumber" data-ng-blur="checkCompany()">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger" title="Firma ara" data-ng-click="checkCompany()"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="recordType==1">
                        <label class="col-lg-2 control-label">Firma Adı</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" placeholder="Firma Adı" readonly ng-model="Contact.CompanyName">
                        </div>
                    </div>
                    <div class="form-group" ng-hide="recordType==1">
                        <label class="col-lg-2 control-label">Firmadaki Pozisyonunuz</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" placeholder="Pozisyon" ng-model="Contact.CompanyPosition">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Şehir</label>
                        <div class="col-lg-6">
                            <select class="form-control m-bot15" required name="city" ng-model="Contact.City"
                                    ng-options="city as city.Name for city in Cities"></select>
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.city.$error.required">
                                *
                            </span>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-lg-2 control-label">Eğitim Durumunuz</label>
                        <div class="col-lg-6">
                            <select class="form-control m-bot15" ng-model="Contact.EducationLevel"
                                    ng-options="level as level.Value for level in EducationLevels"></select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Şifre</label>
                        <div class="col-lg-6">
                            <input type="password" ng-model="Contact.Password" name="password" required class="form-control" placeholder="Şifre">
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.password.$error.required">
                                *
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Şifre Tekrar</label>
                        <div class="col-lg-6">
                            <input type="password" ng-model="Contact.RePassword" name="repassword" required class="form-control" placeholder="Şifre Tekrar">
                        </div>
                        <div role="alert">
                            <span class="error" ng-show="myForm.repassword.$error.required">
                                *
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="button" class="btn btn-success" data-ng-disabled="disableSave || myForm.$valid!=true" data-ng-click="Save()">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>