@using SRC.Web.Portal.Models
@using SRC.Library.Entities
@using SRC.Library.Entities.CrmEntities
@model ProfilePageModel

@{
    ViewBag.Title = "Profil Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content" style="width:90%;margin:auto;">
    <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="row">
            @Html.Action("ProfileMenu", "Partials")

           @Html.Action("ProfileInformation", "Partials", new { _model = Model.Contact})
        </div>
        <!-- page end-->
    </section>
</section>