@using SRC.Web.Portal.Models
@using SRC.Library.Entities
@using SRC.Library.Entities.CrmEntities
@model ProfilePageModel

@Html.HiddenFor(m => m.Attendances);

<aside class="profile-nav col-lg-3">
    <section class="panel">
        <div class="user-heading round">
            <a href="#">
                <img src="../../img/profile-avatar.jpg" alt="">
            </a>
            <h1>Volkan Serter</h1>
            <p>volkan@serter.gmail.com</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="~/Profile"> <i class="fa fa-user"></i> Profil</a></li>
            <li><a href="~/Profile/Edit"> <i class="fa fa-edit"></i> Profil Düzenle</a></li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar"></i>Bekleyen Eğitimler
                    <span class="label label-danger pull-right r-activity">
                        @Model.Attendances.Where(a => a.Status.ToEnum<EducationAttendance.StatusCode>() == EducationAttendance.StatusCode.WAITING_PAYMENT).ToList().Count
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar"></i> Katıldığım Eğitimler
                    <span class="label label-danger pull-right r-activity">
                        @Model.Attendances.Where(a => a.Status.ToEnum<EducationAttendance.StatusCode>() == EducationAttendance.StatusCode.JOINED).ToList().Count
                    </span>
                </a>
            </li>
            <li>
                <form action="/Profile/Test" method="post">
                    <button type="submit" value="TEST"></button>>
                    <i class="fa fa-calendar"></i> Onaylanan Eğitimler
                    <span class="label label-danger pull-right r-activity">
                        @Model.Attendances.Where(a => a.Status.ToEnum<EducationAttendance.StatusCode>() == EducationAttendance.StatusCode.REGISTRATION_CONFIRMED).ToList().Count
                    </span>
                    </a>
                </form>
            </li>
        </ul>
    </section>
</aside>
