<section id="main-content" style="width: 90%; margin: auto;" ng-show="Education">
    <!-- page start-->
    <section class="wrapper">
        <section class="panel">
            <div class="bio-graph-heading project-heading" style="padding:10px 50px;">
                <strong> {{Education.Name}} </strong>
                <p><small>{{Education.Code}}</small> </p>
            </div>
            <div class="panel-body bio-graph-info">
                <div class="row p-details">
                    <div class="bio-row">
                        <p><span class="bold">Eğitmen </span>: {{Education.Contact.Name}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span class="bold">Durum </span>: <span class="label {{Education.class}}">{{Education.StatusText}}</span></p>
                    </div>
                    <div class="bio-row">
                        <p><span class="bold">Kayıt Tarihi </span>: {{Education.FormattedRecordDate}} </p>
                    </div>
                    <div class="bio-row">
                        <p><span class="bold">Eğitim Tarihi</span>: {{Education.FormattedEducationDate}} </p>
                    </div>
                    <div class="bio-row">
                        <p><span class="bold">Eğitim Saati </span>: <a href="#">{{Education.FormattedEducationHour}}</a></p>
                    </div>
                    <div class="bio-row">
                        <p><span class="bold">Şehir </span>: {{Education.City.Name}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span class="bold">Eğitim Yeri </span>: Dış Ticaret Kompleksi-Yenibosna </p>
                    </div>
                    <div class="bio-row">
                        <p><span class="bold">Kontenjan </span>: {{Education.Quota}} Kişi </p>
                    </div>
                    <div class="bio-row">
                        <a href="javascript:;" class="btn btn-primary btn-xs" data-ng-click="Education.Apply(this)" data-ng-show="showApply"><i class="fa fa-folder"></i> Başvur </a>
                        <a href="javascript:;" class="btn btn-danger btn-xs"><i class="fa fa-folder"></i> İptal </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Eğitim Detayı
            </header>
            <div class="panel-body">
                <span data-ng-bind-html="trustHtml(Education.Info)"></span>
            </div>
        </section>
        <!-- page end-->

        <div ng-controller="ApplyEducationCtrl">
            <div ng-include="'/app/partials/views/apply-education.html'" ng-model="selectedEducation"></div>
        </div>
    </section>
    <!-- page end-->
</section>