
<section id="main-content" style="margin: auto;">
    <!-- page start-->
    <section class="wrapper" style="margin-top:0px;">
        <section class="panel">
            <div class="panel-body">
                <input type="text" name="txtEdit" value="" id="txtEdit" placeholder="" />
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info" data-ng-click="SaveText()">İçeriği Kaydet</button>
            </div>
        </section>
        <!-- page end-->
    </section>
    <!-- page end-->
</section>