
@{
    ViewBag.Title = "Eğitim Takvimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content" style="width:90%;margin:auto;">
    <section class="wrapper site-min-height">
        <!-- modal start-->
        <div class="modal fade modal-dialog-center" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <iframe class="modal-dialog modal-lg" src="educationdetail.html?Id=5"></iframe>
        </div>
        <!-- modal end-->
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading">
                Eğitim Listesi
                <span class="pull-right">
                    <button type="button" id="loading-btn" class="btn btn-warning btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                    <a href="#" class=" btn btn-success btn-xs"> Create New Project</a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" placeholder="Search Here" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-success"> Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover p-table">
                <thead>
                    <tr>
                        <th>Eğitim Adı</th>
                        <th>Eğitmen</th>
                        <th>Kontenjan</th>
                        <th>Süre</th>
                        <th>Şehir</th>
                        <th>Durum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-name">
                            <a data-toggle="modal" type="detail" href="#myModal5">Yurtdışı Fuar Katılımlarının Desteklenmesi Semineri (ÜCRETSİZ)</a>
                            <br>
                            <small>05.10.2016 - 05.10.2016</small>
                        </td>
                        <td>
                            <a data-toggle="modal" type="educator" href="#myModal5">Volkan SERTER</a>
                        </td>
                        <td class="p-progress">
                            <div class="progress progress-xs">
                                <div style="width: 87%;" class="progress-bar progress-bar-success"></div>
                            </div>
                            <small>10% Complete </small>
                        </td>
                        <td>
                            <span class="label label-primary">2 gün</span>
                        </td>
                        <td>
                            <p>İSTANBUL</p>
                        </td>
                        <td>
                            <p>Eğitim Gerçekleşti</p>
                        </td>
                        <td>
                            <a href="project_details.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Başvur </a>
                            <a data-toggle="modal" type="detail" href="#myModal5" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Detay </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- page end-->
    </section>
</section>

