@using SRC.Library.Entities.CrmEntities
@using SRC.Web.Portal.Models
@model EducationQueryModel


    @{
        ViewBag.Title = "Eğitim Takvimi";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <section id="main-content" style="width: 90%; margin: auto;">
        <section class="wrapper">
            <!-- page start-->
            <section class="panel" style="padding: 20px;">
                <header class="panel-heading">
                    Eğitim Listesi
                    <span class="pull-right">
                        <a href="/education" class="btn btn-warning btn-xs"><i class="fa fa-refresh"></i> Yenile</a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="formDate" class="form-inline text-center" role="form" action="/Education/Index/">
                                <div class="form-group">
                                    @Html.DropDownList("month", null, new { @class = "form-control", @name = "month", @id="month" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownList("year", null, new { @class = "form-control", @name = "year", @id = "year" })
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @Html.Action("EducationList", "Partials", new { querymodel = Model })

            </section>
            <!-- page end-->
        </section>
    </section>

    @section scripts{
        <script>
            $(function () {
                $("#month").on('change', function () {
                    $("#formDate").submit();
                });

                $("#year").on('change', function () {
                    $("#formDate").submit();
                });
            });
        </script>
    }
