<div class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" id="cancelModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{$parent.selectedAttendance.Education.Name}}</h4>
            </div>
            <div class="modal-body bodyClass" data-ng-show="isCancelled">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-block fade in">
                            <h4>
                                <i class="fa fa-check"></i> Başarılı!
                            </h4>
                            <p>Eğitim katılım iptal talebiniz başarılı bir şekilde alınmıştır.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body bodyClass" data-ng-hide="isCancelled">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Katılım Kodu: {{$parent.selectedAttendance.Code}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="checkbox">
                            <input type="checkbox" value="" ng-model="$parent.selectedAttendance.isAgreed">
                            <span class="label label-default"> Kodu yukarıda yazılı olan eğitimin iptalini kabul ediyorum</span>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-show="showWarning">
                    <div class="col-lg-12">
                        <div class="alert alert-warning" role="alert"><h5><i class="fa fa-warning"></i> {{errorText}}</h5></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a type="cancelAttendance" class="btn btn-primary" href="javascript:;" data-ng-click="cancelAttendance()" data-ng-disabled="disableCancel" role="button">Eğitime Katılımını İptal Et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>