<div class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" id="paymentModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{$parent.selectedAttendance.Education.Name}}</h4>
            </div>
            <div class="modal-body bodyClass" data-ng-show="Payment">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-block fade in">
                            <h4>
                                <i class="fa fa-check"></i> Başarılı!
                            </h4>
                            <p>Eğitim başvurunuz başarılı bir şekilde alınmıştır.</p>
                        </div>

                        <h4>
                            <i class="fa fa-info"></i> Başvuru Kodu:{{Attendance.Code}}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-body bodyClass" data-ng-hide="Attendance">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Tutar</label>
                        <div class="col-lg-10">
                            <p>{{$parent.selectedAttendance.Amount}} TL</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Taksit Sayısı</label>
                        <div class="col-lg-4">
                            <select class="form-control m-bot15" ng-model="CreditCardData.InstallmentType"
                                    ng-options="installmentType as installmentType.Value for installmentType in InstallmentTypes"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">İsim</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="İsim" ng-model="CreditCardData.FullName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Kart No</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="Kart No" ng-model="CreditCardData.CardNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Ay</label>
                        <div class="col-lg-4">
                            <input type="number" pattern=".{2,2}" required title="iki haneli sayı olmalıdır" min="2" max="2" class="form-control" placeholder="Ay" ng-model="CreditCardData.ExpireMonth">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Yıl</label>
                        <div class="col-lg-4">
                            <input type="number" pattern=".{4,4}" required title="Dört haneli sayı olmalıdır" min="4" max="4" class="form-control" placeholder="Yıl" ng-model="CreditCardData.ExpireYear">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">CVC No</label>
                        <div class="col-lg-4">
                            <input type="password" pattern=".{3,3}" required title="3 haneli sayı olmalıdır" min="3" max="3" class="form-control" placeholder="CVC No" ng-model="CreditCardData.Cvc">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="checkbox">
                            <input type="checkbox" value="" ng-model="$parent.selectedAttendance.isAgreed">
                            <span class="label label-default"> Ödeme koşullarını kabul ediyorum</span>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-show="showWarning">
                    <div class="col-lg-12">
                        <div class="alert alert-warning" role="alert"><h5><i class="fa fa-warning"></i> {{errorText}}</h5></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a type="applyEducation" class="btn btn-primary" href="javascript:;" data-ng-click="payEducation()" data-ng-disabled="disablePay" role="button">Ödeme Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>