@using SRC.Web.NewPortal.Models

<div class="horizontal-menu navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a data-is-active-nav href="/Home/">Ana Sayfa</a></li>
        <li><a data-is-active-nav href="/Education/">Eğitim Takvimi</a></li>
        <li><a data-is-active-nav href="/Pages/HowTo/">Nasıl Başvurabilirim?</a></li>
        <li><a data-is-active-nav href="/Pages/Contact/">İletişim</a></li>
    </ul>
</div>
