<footer class="site-footer">
    <div class="text-center">
        2016 &copy; İMMİB Eğitim
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
